* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,body { height:100%; }

.active  {
  color: #fff;
  background-color: #00B74F;
  border-radius: 14px;
}

.nav__bg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("./assets/Vector_3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-green-bnk-100 {
  background-color: #B2E9C3;
}
.bg-green-bnk-200 {
  background-color: #00B74F;
}
.text-green-bnk-100 {
  color: #B2E9C3;
}
.text-green-bnk-200 {
  color: #00B74F;
}


.bg-gray-bnk-100 {
  background-color: #C4C3C5;
}
.bg-gray-bnk-200 {
  background-color: #53565A;
}
.bg-gray-bnk-200-t {
  background-color: #53565A40;
}

.text-gray-bnk-100 {
  color: #C4C3C5;
}
.text-gray-bnk-200 {
  color: #53565A;
}

.bg-green-bnk-gr {

  /* ff 3.6+ */
  background:-moz-linear-gradient(135deg, rgba(0, 183, 79, 1) 0%, rgba(178, 233, 195, 1) 100%); 

  /* safari 5.1+,chrome 10+ */
  background:-webkit-linear-gradient(135deg, rgba(0, 183, 79, 1) 0%, rgba(178, 233, 195, 1) 100%);

  /* opera 11.10+ */
  background:-o-linear-gradient(135deg, rgba(0, 183, 79, 1) 0%, rgba(178, 233, 195, 1) 100%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B2E9C3', endColorstr='#00B74F', GradientType=1 );

  /* ie 10+ */
  background:-ms-linear-gradient(135deg, rgba(0, 183, 79, 1) 0%, rgba(178, 233, 195, 1) 100%);

  /* global 94%+ browsers support */
  background:linear-gradient(135deg, rgba(0, 183, 79, 1) 0%, rgba(178, 233, 195, 1) 100%);

}